// Menu
// -----------------------------------------------------------------------------
.menu {
  padding: 0;
  margin: 0;
  li {
    list-style: none outside none;
  }
  &--inline {
    > li,
    .btn-group {
      display: inline-block;
    }
    > li {
      + li {
        margin-left: .5em;
      }
    }
  }
  &--account {
    .btn-group {
      .dropdown-toggle {
        display: none;
        @include breakpoint(sm) {
          display: inline-block;
        }
      }
      .dropdown-menu {
        left: auto;
        right: 0;
        @media screen and (max-width: 767px) {
          display: contents;
        }
      }
    }
  }
}
