/**
 * Make Drupal toolbar match the CiviCRM shoreditch style.
 */
body.toolbar-horizontal {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.toolbar-horizontal .toolbar .toolbar-bar,
.toolbar-vertical .toolbar .toolbar-bar {
  background-color: #4d4d69;
}

.toolbar-horizontal .toolbar .toolbar-tab a:hover {
  background: none;
  text-decoration: none;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu.nav {
  float: left;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li {
  background-color: #fff;
  border: none !important;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li:hover {
  background-color: #f3f6f7 !important;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li a {
  color: #464354;
  padding: 1em 1.3333em;
  text-decoration: none;
  border-radius: 0;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li a.toolbar-icon {
  padding-left: 2.75em;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li ul.toolbar-menu li.menu-item--expanded {
  background: url('../images/fa-caret-right.png') no-repeat 95% 50%;
  background-size: 26px;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li.menu-item--expanded ul.toolbar-menu {
  background-color: #fff;
  box-shadow: 0 3px 18px 0 rgba(48,40,40,0.25);
  padding: 10px 0 16px !important;
  width: auto;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li ul.toolbar-menu li {
  padding: 10px 80px 10px 24px;
  white-space: nowrap;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li ul.toolbar-menu li a {
  padding: 0;
}

.toolbar-horizontal .toolbar .toolbar-lining ul.toolbar-menu li ul.toolbar-menu li.hover-intent > ul.toolbar-menu {
  margin: -1.5rem 0 0;
  left: 100%;
}

.toolbar-horizontal .toolbar .toolbar-toggle-orientation {
  background-color: #fff;
}

.path-civicrm .toolbar .toolbar-bar .home-toolbar-tab {
  display: block;
}

.toolbar-horizontal .toolbar-menu {
  height: auto !important;
}

#civicrm-menu {
  top: 39px !important;
  z-index: 500;
  display: none;
}

.toolbar-civicrm #civicrm-menu {
  z-index: 600;
  display: block !important;
}

#civicrm-menu > li.menumain {
  height: 40px !important;
  line-height: 40px;
  outline: none;
}

#root-menu-div .menu-item {
  padding: 10px 80px 10px 24px;
}

#root-menu-div .menu-item-arrow {
  top: 14px;
}

#root-menu-div+.crm-quickSearch-results {
  z-index: 1030 !important;
  top: 80px !important;
}

.toolbar-vertical.toolbar-civicrm .toolbar-tray-vertical {
  top: 79px;
}

#toolbar-item-civicrm-tray {
  display: none;
}

body.toolbar-tray-open.toolbar-vertical.toolbar-fixed.toolbar-civicrm {
  margin-left: 0 !important;
}

/**
 * Fixes for shoreditch,
 */
html body:not(.toolbar) {
  margin-top: 0 !important;
}

html body.toolbar-vertical .toolbar-menu {
  height: auto !important;
}

.toolbar-civicrm #civicrm-menu {
  z-index: 600;
  display: block !important;
}
