/**
 * @file
 * Override styles from Classy or Seven that are problematic for CiviCRM.
 */
.crm-container .label {
  display: initial;
  font-weight: inherit;
  font-size: inherit;
}

.crm-container td.label {
  display: table-cell;
}

fieldset:not(.fieldgroup) {
  padding-top: 10px;
}

fieldset:not(.fieldgroup) > legend {
  position: relative;
}

.page-civicrm #civicrm-menu #crm-qsearch input {
  outline: none;
  box-shadow: none;
}

.page-civicrm .content-header {
  padding: 0;
  overflow: visible;
}

.page-civicrm #branding .breadcrumb {
  float: none;
  left: 0;
  padding-left: 40px;
}

.page-civicrm #branding .breadcrumb a,
.page-civicrm #branding .breadcrumb li::before {
  color: #fff;
}

.page-civicrm #branding h1.page-title {
  font-size: 1.385em;
}

.page-civicrm table tr {
  border-bottom: 0;
}

.page-civicrm-contact-view .help {
  margin-bottom: 10px;
}

.page-civicrm nav.tabs {
  background: #e0e0d8;
  padding: 5px 2.5em 0;
}

.page-civicrm nav.is-horizontal .tabs__tab {
  margin-bottom: 0;
}

.crm-container.ui-dialog .ui-dialog-titlebar .ui-dialog-title{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 0;
  width: 80%;
  color: #464354 !important;
}

/**
 * Fix for Mosaico.
 */
.page-civicrm.toolbar-tray-open.toolbar-horizontal iframe.ui-front {
  top: 79px !important;
}
