{#
/**
 * @file
 * Template for event photos.
 */
#}
{% if items|length %}
  {% set id = random(1000) %}
  {{ attach_library('pangea/photo_grid') }}
  <div class="photo-grid">
    {% for item in items %}
      <div>
        <a href="{{ item.url }}" data-toggle="lightbox" data-gallery="gallery-{{ id }}" data-title="{{ item.description }}">
          {{ item.content }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
